@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(31, 39, 39);
  color: aquamarine;
  overflow-x: hidden;
  font-family: monospace, sans-serif;
}
p {
  font-size: 15px;
}
/*nav/menu*/
#nav-bar {
  position: relative;
  width: 100%;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: black;

  font-family: "Press Start 2P", cursive;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.menu .logo-box {
  margin-left: 20px;
}
.menu .logo-box h1 {
  font-size: 40px;
}

.menu .list {
  margin-right: 20px;
}
.menu .list .menuList {
  display: flex;
}
.menu .list .menuList li {
  list-style: none;
}
.menu .list .menuList li a {
  padding: 8px;
  font-size: 15px;
}
/*header*/

.img-header {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url(../assets/arcades.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.img-header .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*main*/

.content {
  width: 100%;
  margin-top: 0px;
}
.back {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../assets/Galaxianback.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.content .game {
  width: 100%;
  margin: 20px;
}
.content .game .img-game {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .game .img-game img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

/*footer*/

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../assets/Game-over-2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.footer .deg-ftr {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.footer .ejeftr {
  position: relative;
  width: 100%;
  height: 100%;
}
.footer .ftr-content {
  width: 90%;
  padding-top: 100px;
  margin: auto;
  padding-bottom: 20px;
}
.footer .ftr-content .ftr-title {
  width: 50%;
  margin: auto;
  border: 2px solid aquamarine;
  padding: 20px;
}
.footer .ftr-content .ftr-title h2 {
  text-align: center;
  color: aquamarine;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}
.footer .ftr-content .ftr-title hr {
  width: 80%;
  margin: auto;
}
.footer .ftr-content .coment-content {
  width: 60%;
  background: none;
  border: 2px solid none;
  margin: 50px auto;
  padding: 30px;
  margin-bottom: 50px;
}
.footer .ftr-content .coment-content #coment {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer .ftr-content .coment-content #coment label {
  text-align: center;
  color: aquamarine;
  font-size: 22px;
  margin: 30px 0px 10px 0px;
}
.footer .ftr-content .coment-content #coment input {
  width: 90%;
  height: 40px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-size: 17px;
  color: black;
}
.footer .ftr-content .coment-content #coment textarea {
  width: 90%;
  height: 200px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  padding: 20px;
}
.footer .ftr-content .coment-content #coment .send {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.footer .ftr-content .coment-content #coment .send button {
  width: 150px;
  height: 40px;
  background: black;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 22px;
  color: aquamarine;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
