* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(31, 39, 39);
  color: aquamarine;
  overflow-x: hidden;
  font-family: monospace, sans-serif;
}

#nav-bar {
  position: relative;
  width: 100%;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgb(31, 39, 39);
  font-family: "Press Start 2P", cursive;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.menu .logo-box {
  margin-left: 20px;
}
.menu .logo-box h1 {
  font-size: 40px;
  font-weight: 400;
}

.menu .list {
  margin-right: 20px;
}
.menu .list .menuList {
  display: flex;
}
.menu .list .menuList li {
  list-style: none;
}
.menu .list .menuList li a {
  padding: 8px;
  font-size: 15px;
}
.img-header {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url(../assets/arcades.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.img-header .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 15px;
}
.content {
  width: 100%;
  margin-top: 120px;
}

.content .fighting {
  width: 45%;
  margin: 20px;
}
.content .fighting .img-game {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .fighting .img-game img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.footer {
  background: url(../assets/Game-over-2.png);
  background-position: center;
  background-size: cover;
  font-size: 15px;
}
